Repository AY2223S1-CS2103T-T15-1/tp, pull requests merged in 2022-09, with the labels that each got.

#35 Fix failing ci test
  .github/workflows/gradle.yml
  docs/team/prit3010.md
Labels: bug, priority.High

#34 Added profile to AboutUs
  docs/AboutUs.md
  docs/images/chao890.png
Labels: priority.High, type.aboutUs

#36 Add Add function to User Guide
  docs/UserGuide.md
Labels: priority.High, type.documentation

#37 Update kevin's details
  docs/AboutUs.md
  docs/images/kevinchangjk.png
Labels: priority.High, type.aboutUs

#38 PPP: Added Kevin's skeletal PPP
  docs/team/kevinchangjk.md
Labels: type.PPP, priority.High

#39 Update delete function for User Guide
  docs/UserGuide.md
Labels: priority.High, type.documentation

#41 Added Purpose segment for Developer Guide
  docs/DeveloperGuide.md
Labels: priority.High, type.documentation

#40 Update AboutUs for Shi Jun
  docs/AboutUs.md
  docs/images/ngshijun.png
  docs/team/ngshijun.md
Labels: priority.High, type.aboutUs

#43 Added PPP for chao890
  docs/team/chao890.md
Labels: type.PPP, priority.High

#42 Developer guide use case
  docs/DeveloperGuide.md
Labels: priority.High, type.developerguide

#44 Add user stories to Developer Guide
  docs/DeveloperGuide.md
Labels: priority.High, type.developerguide

#45 Add list function in User Guide
  docs/DeveloperGuide.md
  docs/UserGuide.md
Labels: priority.High, type.userguide

#48 PPP kok-je skeletal
  docs/team/kok-je.md
Labels: type.PPP, priority.High

#49 Add view command to user guide
  docs/UserGuide.md
Labels: priority.high, type.user-guide

#50 Update about us
  docs/AboutUs.md
  docs/images/kokje.png
Labels: priority.high, type.about-us

#51 Edit glossary of developer guide
  docs/DeveloperGuide.md
Labels: priority.high, type.developer-guide

#54 Edit ReadMe, Developer Guide and About Us
  README.md
  docs/AboutUs.md
  docs/DeveloperGuide.md
  docs/images/Ui.png
  docs/images/kok-je.png
  docs/index.md
  docs/team/johndoe.md
Labels: priority.high, type.documentation

#56 Update appendix of dev guide
  README.md
  docs/DeveloperGuide.md
Labels: priority.medium, type.developer-guide
